/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 一图流*/
#web_container {
  background: transparent !important;
}

/* 页脚透明 */
#footer {
  background: transparent !important;
}

/*
#web_bg {
    background: url(https://pic.imgdb.cn/item/66dd05dad9c307b7e94309e1.jpg)
}    */

#web_bg {
    background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1));
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

/*
#web_bg {
    background: linear-gradient(90deg, rgba(247,149,51,.1), rgba(243,112,85,.1) 15%, rgba(239,78,123,.1) 30%, rgba(161,102,171,.1) 44%, rgba(80,115,184,.1) 58%, rgba(16,152,173,.1) 72%, rgba(7,179,155,.1) 86%, rgba(109,186,130,.1)),
                url('your-image-url.jpg');
    background-size: cover; /* 背景图片适应 */
    /*background-repeat: no-repeat;  /*禁止图片重复 
}*/


/* 头图透明 
#page-header {
  background: transparent !important;
}*/

/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.7) !important;
}

/* 由于全屏会出bug，所以直接给他隐藏 */

.winbox {
    border-radius: 12px;
    overflow: hidden;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 166px;
    margin: 10px;
    background-size: cover;
}

/* 强制禁止 .imgbox 和 .pimgbox 悬停放大效果 */
.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
    transform: none !important; /* 强制禁止任何变换 */
    transition: none !important; /* 强制禁止动画效果 */
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

.box {
    height: 100px;
}

@media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }
    .pimgbox {
        height: 205px;
    }
    /* 2.0新增内容 */    
    .wb-min {
        display: none;
    }
    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}


/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */
@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}

div#menus {
  font-family: "ZhuZiAYuanJWD";
}
h1#site-title {
  font-family: ZhuZiAYuanJWD;
  font-size: 3em !important;
}
a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-family: ZhuZiAYuanJWD;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3em;
  /* 可以定义图标大小 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* 解决artitalk的图标问题 */
#uploadSource > svg {
  width: 1.19em;
  height: 1.5em;
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #recent-posts > .recent-post-item {
  background: #121212;
}

[data-theme="dark"] .card-widget {
  background: #121212 !important;
}

[data-theme="dark"] div#post {
  background: #121212 !important;
}

[data-theme="dark"] div#tag {
  background: #121212 !important;
}

[data-theme="dark"] div#archive {
  background: #121212 !important;
}

[data-theme="dark"] div#page {
  background: #121212 !important;
}

[data-theme="dark"] div#category {
  background: #121212 !important;
}

[data-theme="dark"] div#category {
  background: transparent !important;
}

#rightside > div > button {
  border-radius: 5px;
}

/* 滚动条 */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #9796f0;
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #9796f0;
}

/* 音乐播放器 */

/* .aplayer .aplayer-lrc {
  display: none !important;
} */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  transition: all 0.3s;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  transition: all 0.3s;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer.aplayer-fixed {
  z-index: 999999 !important;
}

/* md网站下划线 */
#article-container a:hover {
  text-decoration: none !important;
}

#article-container #hpp_talk p img {
  display: inline;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}

#recent-posts > .recent-post-item:not(a)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to right, transparent, white, transparent);
  transform: translateX(-200%);
  transition: transform 0.5s linear;
  z-index: 1;
}
#recent-posts > .recent-post-item:not(a):hover::before {
  transform: translateX(100%) skewX(-60deg);
}

@keyframes floating {
0% {
    transform: translate(0, -4px);
}
50% {
    transform: translate(0, 4px);
}
100% {
    transform: translate(0, -4px);
}
}

#about-page .author-box {
display: flex;
flex-direction: column;
align-items: center;
height: 185px;
}

#about-page .author-tag-left {
display: flex;
flex-direction: column;
align-items: flex-end;
margin-right: 355px; /* 设置标签与头像之间的水平间距 */
position: absolute;
top: 15px;
}

#about-page .author-tag-right {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-left: 355px; /* 设置标签与头像之间的水平间距 */
position: absolute;
top: 15px;
}
/* 移动端隐藏 */
@media screen and (max-width: 768px) {
#about-page .author-tag-left, #about-page .author-tag-right {
    display: none;
}
}

#about-page .author-tag-left .author-tag:first-child, #about-page .author-tag-left .author-tag:last-child {
margin-right: -16px;
}

#about-page .author-tag-right .author-tag:first-child, #about-page .author-tag-right .author-tag:last-child {
margin-left: -16px;
}

#about-page .author-tag {
transform: translate(0, -4px);
padding: 1px 8px;
background: #fff;
border: 1px solid #e3e8f7;
border-radius: 40px;
margin-top: 6px;
font-size: 14px;
font-weight: bold;
box-shadow: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
animation: 4s ease-in-out 0s infinite normal none running floating;
}
/* 适配深色模式 */
[data-theme="dark"] #about-page .author-tag {
background: #1e1e1e;
}
#about-page .author-tag:nth-child(1) {
animation-delay: 0s;
}

#about-page .author-tag:nth-child(2) {
animation-delay: 0.6s;
}

#about-page .author-tag:nth-child(3) {
animation-delay: 1.2s;
}

#about-page .author-tag:nth-child(4) {
animation-delay: 1.8s;
}

#welcome-info {
    overflow: hidden;
    border-radius: 14px;
    --kouseki-welcome-color: #49B1F5;
    --kouseki-ip-color: #49B1F5;
    --kouseki-gl-size: 16px!important;
  }

/* 帧率检测 */
#fps {
  position: fixed;
  /* 指定位置 */
  left: 10px;
  bottom: 100px;
  z-index: 1919810;
}
[data-theme="light"] #fps {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: var(--backdrop-filter);
  padding: 4px;
  border-radius: 4px;
}
[data-theme="dark"] #fps {
  background-color: rgba(0, 0, 0, 0.72);
  backdrop-filter: var(--backdrop-filter);
  padding: 4px;
  border-radius: 4px;
}

/*
#aside-content > .card-widget.card-info {
  background: linear-gradient(-45deg, var(--anzhiyu-main), #FFAFBD, #C9FFBF);
  background-size: 400%;
  box-shadow: var(--anzhiyu-shadow-black);
  animation: gradient 15s ease infinite;
  position: relative;
  color: var(--anzhiyu-white);
}
.site-data > a .headline,
.site-data > a .length-num {
  color: var(--anzhiyu-white);
}

#welcome-info {
    overflow: hidden;
    border-radius: 14px;
    --kouseki-welcome-color: #2a37e8;
    --kouseki-ip-color: #0e12ebb9;
    --kouseki-gl-size: 16px!important;
    background: #FFAFBD;
  }
*/

/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
  background-image: url(https://pic.imgdb.cn/item/66dc4745d9c307b7e925afbf.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background-image: url(https://pic.imgdb.cn/item/66dc4745d9c307b7e925afbf.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}

.imgbox {
    height: 95px !important;
    width: 166px !important;
    transform: none !important;
    transition: none !important;
}

.imgbox:hover {
    transform: none !important;
    transition: none !important;
}
